/* variables */
:root{
  --maincolor:#19c8fa;
--transparent-color:rgb(15 116 143 / 70%);
}
/* end variables  */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
ul {
  list-style: none;
}
/* container  */
.container{
    padding-left: 15px;
    padding-right: 15px;
  width:100%;
    margin-left: auto;
    margin-right:auto ;
}
/* small */
@media (min-width:768px){
    .container{
        width:750px;
    }
}
/* medium */
@media (min-width:992px){
    .container{
        width:970px;

    }
}
/* large */
@media (min-width:1200px){
    .container{
        width:1170px;
    }
}

/* start header  */
header{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container{
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
min-height: 97px;
}
header .container::after{
  content: "";
position: absolute;
height: 1px;
background-color: #a2a2a2;
width: calc( 100% - 30px);
left: 15px;
bottom: 0px;
}
header .logo img{
height: 35px;
}
header nav{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toogle-menu{
  color: white;
  font-size: 22px;
}
@media (min-width:768px){
  header nav .toogle-menu{
    display: none;
  }
}
header nav .toogle-menu:hover + ul{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
header nav .toogle-menu:hover + ul li a{
  padding: 15px;
}


header nav ul{
  display: flex;
}
@media (max-width:768px){
  header nav ul{

  
    display: none;}
  
}
header nav ul li a{
  display: block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}
header nav ul li a.active , header nav ul li a:hover{
  color: var(--maincolor);
  border-bottom: 1px solid var(--maincolor);
}
header nav .form{
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px ;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 font-size: 20px;
 margin-left: 20px;
 right: 0;
}

/* end header  */
/* start landing  */
.landing{
  min-height: 100vh ;
  background-color: #1f2021; ;
  background-image: url("../image/landing.jpg");
  background-size: cover;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 767px){
  .landing{
     background-image: url("../image/landing\ for\ mob.jpg");
  }
}
.landing .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 45%);
}
.landing .text{
  position: absolute;
  width: 50%;
left: 0;
top: 50%;
transform: translateY(-50%);
background-color: var(--transparent-color);
padding: 50px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text{
    width: 100%;
  }


}
  @media (min-width: 768px){
.landing .text .content{
  max-width: 430px;
}
}



.landing .text .content h2{
    font-size: 26px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 30px;
}
.landing .text .content p{
font-size: 15px;
line-height: 1.6;
}
.landing .fa-solid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  margin: 15px;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 450px){
  .landing .fa-solid{
    display: none;
  }
}
.landing .fa-angle-right{
  right: 0;
}
.landing .fa-angle-left{
left: 0;
}
.landing .bullets{
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: 30px;
display: flex;
}
.landing .bullets li{
width: 20px;
    height: 20px;
    border: 1.1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets .active{
border: 1.1px solid var(--maincolor);
background-color: var(--maincolor);
}

/* end landing  */